.form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.label {
  margin-bottom: 8px;
  font-size: 0.8rem;
}

.input {
  margin-bottom: 24px;
  padding: 12px 12px;
}

.submit-button {
  margin-top: 24px;
  padding: 12px 24px;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: flex-end;
  margin-top: auto;
  background: var(--background-color);
  border: 1px solid var(--dark-grey);
}
