.dropdown {
  position: relative;
}

.dropdown__menu {
  position: absolute;
  right: 0;
  top: 32px;
  z-index: 1;
  padding: 24px;
  min-width: 200px;
  min-height: 200px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: white;
  border-radius: 8px;
  animation-name: appear;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
