.wrapper {
  padding: 24px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 48px;
  display: flex;
  font-size: 1.5rem;
  gap: 8px;
}

.logo {
  color: var(--primary-color);
}

.greeting {
  margin-bottom: 12px;
  font-size: 1.5rem;
  font-weight: 600;
}

.title {
  margin-bottom: 24px;
  font-size: 2rem;
  font-weight: 600;
}

.info {
  margin-bottom: 32px;
}

.error {
  margin-top: 24px;
  color: var(--error-color);
}

.signup-text {
  text-align: center;
}

.signup-link {
  color: var(--primary-color);
}
