.wrapper {
  position: relative;
  padding: 24px 16px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  animation-name: appear;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.header {
  margin-bottom: 36px;
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  gap: 12px;
  align-items: center;
  font-size: larger;
}

.title {
  font-weight: 600;
  font-size: larger;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.selectable-group {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.selectable-group__title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: large;
}

.selectable-group__item {
  padding: 8px 12px;
  border: 1px solid var(--light-grey);
}

.selectable-group__item--selected {
  border-color: var(--dark-grey);
}

.custom-date-selector {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.custom-date-selector__field {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.custom-date-selector__field > *:nth-child(3) {
  justify-self: flex-end;
}

.custom-date-selector__field > input {
  padding: 4px 8px;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
