.wrapper {
  position: relative;
  padding: 16px 16px;
  padding-bottom: 0;
  margin-bottom: 24px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  animation-name: appear;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  overflow: hidden;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
