.wrapper {
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  animation-name: appear;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.header {
  padding: 0 16px;
  padding-top: 24px;
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 12px;
  align-items: center;
  font-size: larger;
}

.title {
  font-weight: normal;
  font-size: medium;
  text-align: center;
  text-transform: uppercase;
}

.links {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.links__li {
  padding: 12px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 32px;
  align-items: center;
  font-size: 1rem;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 1200px) {
  .header {
    padding-bottom: 16px;
    margin-bottom: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--neutral-color-200);
    background: #fcfcfc;
  }
  .header__go-back-icon {
    display: none;
  }

  .title {
    font-size: larger;
    text-transform: none;
  }
  .links {
    width: 1200px;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px;
  }
  .links__li {
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: 1px solid var(--dark-grey);
    border-radius: 4px;
    transition: 200ms ease;
  }
  .links__li__icon {
    display: none;
  }
  @media (hover: hover) {
    .links__li:hover {
      cursor: pointer;
      border-color: var(--dark-color);
    }
  }
}
