.wrapper {
  padding: 24px 16px;
  animation-name: appear;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.header {
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 12px;
  align-items: center;
  font-size: larger;
}

.title {
  font-weight: normal;
  font-size: medium;
  text-align: center;
  text-transform: uppercase;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.links__li {
  padding: 12px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 32px;
  align-items: center;
  font-size: 1rem;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
