.skeleton {
  position: relative;
  display: inline-block;
  height: 1em;
  width: 100%;
  overflow: hidden;
  background-color: #dddbdd;
  color: grey;
  display: inline-block;
  mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/350% 100%;
  animation: shimmer 2.5s infinite;
}

@keyframes shimmer {
  100% {
    mask-position: left;
  }
}
