.page {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  animation-name: appear;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.top-bar {
  padding: 16px 16px 0 16px;

  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.title {
  padding: 0 16px;
  margin-bottom: 16px;
  font-size: 1.8rem;
  white-space: pre-wrap;
  font-weight: 600;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 600;
  white-space: pre-wrap;
}

.orders-header {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.new-order-link {
  text-decoration: none;
  color: var(--on-background-color);
}

.avatar {
  padding: 12px;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-grey);
  border-radius: 100%;
  aspect-ratio: 1/1;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: black;
  text-decoration: none;
}

.action-bar {
  padding: 0 16px;
  margin-bottom: 16px;
  max-width: 1200px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.orders-count {
  flex: 1;
}

.searcher {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--light-grey);
  border-radius: 8px;
}

.searcher-input {
  flex: 1;
  border: none;
  outline: none;
  background: none;
}

.selector {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  border-bottom: 1px solid var(--light-grey);
}

.selector-p {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: uppercase;
  font-size: 0.8rem;
  border-bottom: 1px solid var(--primary-color);
  font-weight: 600;
}

.selector-p__tag {
  padding: 4px 8px;
  background: var(--primary-color);
  border-radius: 4px;
  color: var(--on-primary-color);
}

.filters-mark {
  position: absolute;
  top: -1ch;
  right: -1ch;
  width: 2ch;
  height: 2ch;
  border-radius: 100%;
  background: white;
  border: 1px solid black;
  z-index: 1000;
  font-size: 12px;
}

.orders {
  overflow-y: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  list-style: none;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.no-orders {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
}

.orders-li {
  padding: 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-bottom: 1px solid var(--light-grey);
  opacity: 0;
  animation-name: appear;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transition: 200ms ease;
}

.orders-li:first-child {
  border-top: 1px solid var(--light-grey);
}

.order__top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  font-size: 1.2rem;
}

.order-main-content {
}

.order-title {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
}

.order-title__name {
  border-radius: 4px;
  white-space: nowrap;
  font-size: medium;
}

.order-title__client {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: medium;
  text-transform: uppercase;
}

.order-table {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}

.order-row {
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  border-radius: 4px;
}
.order-row:nth-child(odd) {
  background: rgb(249, 249, 249);
}

.order-detail__link {
  color: var(--dark-grey);
}

.order-row__info {
  text-align: end;
  font-weight: 600;
}

.order-date {
  position: relative;
  padding: 4px 8px;
  font-size: 0.8rem;
  color: var(--dark-color);
  border: 1px solid var(--neutral-color-200);
  background: rgba(225, 224, 224, 0.1);
  border-radius: 4px;
}

.order-date--important {
  text-transform: uppercase;
}

.flex {
  display: flex;
  align-items: center;
  gap: 12px;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 700px) {
  .orders {
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 12px;
  }
  .orders-li {
    border: 1px solid var(--light-grey);
  }
  .order-detail__link {
    display: none;
  }
}

@media (min-width: 1200px) {
  .top-bar,
  .action-bar,
  .orders,
  .no-orders {
    align-self: center;
    width: 100%;
  }
  .title {
    width: 1200px;
    margin-bottom: 24px;
    align-self: center;
  }
  .top-bar {
    padding-bottom: 16px;
    margin-bottom: 56px;
    border-bottom: 1px solid var(--dark-grey);
  }
}

@media (hover: hover) {
  .orders-li:hover {
    cursor: pointer;
    border-color: var(--neutral-color-500);
  }
}
