.page {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  animation-name: appear;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.top-bar {
  padding: 16px 16px 0 16px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.title {
  padding: 0 16px;
  margin-bottom: 16px;
  font-size: 1.8rem;
  white-space: pre-wrap;
  font-weight: 600;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 600;
  white-space: pre-wrap;
}

.orders-header {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.new-order-link {
  text-decoration: none;
  color: var(--on-background-color);
}

.avatar {
  padding: 12px;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-grey);
  border-radius: 100%;
  aspect-ratio: 1/1;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: black;
  text-decoration: none;
}

.action-bar {
  padding: 0 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.orders-count {
  flex: 1;
}

.searcher {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--light-grey);
  border-radius: 8px;
}

.searcher-input {
  flex: 1;
  border: none;
  outline: none;
  background: none;
}

.selector {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  border-bottom: 1px solid var(--light-grey);
}

.selector-p {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: uppercase;
  font-size: 0.8rem;
  border-bottom: 1px solid var(--primary-color);
  font-weight: 600;
}

.selector-p__tag {
  padding: 4px 8px;
  background: var(--primary-color);
  border-radius: 4px;
  color: var(--on-primary-color);
}

.filters-mark {
  position: absolute;
  top: -1ch;
  right: -1ch;
  width: 2ch;
  height: 2ch;
  border-radius: 100%;
  background: white;
  border: 1px solid black;
  z-index: 1000;
  font-size: 12px;
}

.orders {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  list-style: none;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.no-orders {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
}

.orders-li {
  padding: 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-bottom: 1px solid var(--light-grey);
  opacity: 0;
  animation-name: appear;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.orders-li:first-child {
  border-top: 1px solid var(--light-grey);
}

.order__top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  font-size: 1.2rem;
}

.order-title {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
}

.order-title__name {
  white-space: nowrap;
}

.order-title__client {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.order-title__client::before {
  content: '|';
  margin-right: 8px;
}

.order-table {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}

.order-row {
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  border-radius: 4px;
}
.order-row:nth-child(odd) {
  background: rgb(249, 249, 249);
}

.order-detail__link {
  color: var(--dark-grey);
}

.order-row__info {
  text-align: end;
  font-weight: 600;
}

.order-dates {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--dark-color);
  font-size: 0.8rem;
}

.order-date {
  position: relative;
}

.order-date--important {
  padding: 4px 8px;
  border: 1px solid var(--on-background-color);
  border-radius: 4px;
  background: var(--on-background-color);
  color: var(--background-color);
  font-weight: 600;
  text-transform: uppercase;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
