.wrapper {
  position: relative;
  padding: 24px 16px;
  padding-bottom: 0;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  animation-name: appear;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.header {
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  font-size: larger;
}

.title {
  font-weight: 600;
  font-size: larger;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info {
  display: flex;
  flex-direction: column;
}

.section-title {
  margin-bottom: 12px;
  font-weight: 600;
}

.info-row {
  padding: 12px 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 4px;
}

.info-row:nth-child(even) {
  background: rgb(249, 249, 249);
}

.info-row__content {
  text-align: end;
  font-weight: 600;
}

.description {
  padding: 24px 12px;
  white-space: pre-wrap;
  background: rgb(249, 249, 249);
  border-radius: 4px;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media print {
  @page {
    margin-left: 0.8in;
    margin-right: 0.8in;
    margin-top: 0;
    margin-bottom: 0;
  }
  .wrapper {
    display: none;
  }
}
